body {
  text-align: center;
}

h1 {
  font-size: 36px;
}

input {
  padding: 10px;
  margin: 10px;
  font-size: 24px;
}

button {
  padding: 10px 20px;
  font-size: 24px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #3e8e41;
}

p {
  color: black;
}

#score{
  color:red;
  font-size: 36px;
}
